全日制
在校生/应届生
统招
深圳市腾讯计算机系统有限公司
华为技术有限公司
中科软
中软国际
大学/大专应届毕业生
大学应届毕业生
大专应届毕业生
5-7年经验
应届或明年毕业的实习生
英语口语流利
要求英语
英语4级
驻场开发
驻场
硕士
博士
背景调查
背调
5年以上
留学经历
拉黑
勿扰
C/C++
英语基础
大学毕业生
阿里巴巴
蚂蚁金服
长亮科技
1.5-
深圳市法本信息技术股份有限公司
已申请
学信网
学信网可查
深圳市百威智能科技有限公司
深圳中科软科技信息系统有限公司
学士学位证书
亿磐
英语四级证书
软通动力
2-3
2-
3-
1.6-
1.7-
1.8-
1.9-
正规本科
广通软件
深圳市广通软件有限公司
智联网络技术有限公司
深圳市德科信息技术有限公司
深圳麦亚信科技股份有限公司
深圳市协卓软件有限公司
金融
深圳市奥晏科技发展有限公司
造假
深圳市拓保软件有限公司
深圳市青橄榄信息技术有限公司
山东中创软件工程股份有限公司
大展信息科技(深圳)有限公司
信必优(深圳)信息技术有限公司
上海兴岩信息科技有限公司
深圳市希捷尔人力资源有限公司
智联RPO
证券项目
北京斯普信信息技术有限公司
京北方信息技术股份有限公司
深圳市科联汇通科技有限公司
北京联龙博通电子商务技术有限公司
做银行证券项目
上海易宝软件有限公司
银行外包岗
深圳市长亮科技股份有限公司
软通动力信息技术(集团)有限公司
法林瓦管理咨询(深圳)有限公司
北京文思海辉金信软件有限公司
四川方胜人力资源服务有限公司
北京和众汇富科技股份有限公司天津分公司
深圳极联信息技术股份有限公司
深圳市网新新思软件有限公司
深圳市筷云信息科技股份有限公司
深圳市博悦科创科技有限公司
武汉佰钧成技术有限责任公司
上海平欣电子科技有限公司
北京宏远科创软件有限公司
北软互联(北京)科技有限公司
上海华钦信息科技股份有限公司
成都愚创科技有限公司
重庆软维科技有限公司
深圳市紫川软件有限公司
深圳市顺势腾辉科技有限公司
熟练阅读英文
金证财富南京科技有限公司
(珠江新城)
平安利顺国际货币经纪有限责任公司
北京联创智融信息技术有限公司
珠江新城